In [1]:
include("src/api.jl")
include("src/data.jl")

inv = api.Invoice()

display(data.customers)
display(data.products)
display(data.orders)

1×7 DataFrame
 Row │ customer_id  name                  address        address_complement  p ⋯
     │ Int64        String31              String15       String15            S ⋯
─────┼──────────────────────────────────────────────────────────────────────────
   1 │           1  MANNING PUBLICATIONS  20 Baldwin Rd  P O Box 761         N ⋯
                                                               3 columns omitted

5×4 DataFrame
 Row │ product_id  name                      quantity  unit_cost
     │ Int64       String31                  Int64     Float64
─────┼───────────────────────────────────────────────────────────
   1 │          1  Mentoring hours February         6       45.0
   2 │          2  Mentoring hours March            5       45.0
   3 │          3  Mentoring hours April            1       45.0
   4 │          4  Mentoring hours May              1       45.0
   5 │          5  Mentoring hours June             2       45.0

2×5 DataFrame
 Row │ invoice_id  date        customer_id  currency  products_id
     │ Int64       String15    Int64        String3   String15
─────┼────────────────────────────────────────────────────────────
   1 │          1  2022/05/01            1  USD       [1, 2, 3]
   2 │          2  2022/08/01            1  USD       [4, 5]

In [3]:
api.get_invoice_info()

MethodError: MethodError: no method matching get_invoice_info(::Int64)
Closest candidates are:
  get_invoice_info(!Matched::DataFrames.DataFrameRow) at ~/Documents/projects/invoice-generator/src/api.jl:18