In [19]:
include("src/api.jl")
include("src/data.jl")

inv = api.Invoice()

WARNING: replacing module api.
WARNING: replacing module data.

Main.api.Invoice
  from: String "Joris LIMONIER"
  to: String "helene"
  date: String "19/06/2022"
  items: String "[Dict(\"name\"=> \"Shop automation service\",\"quantity\"=> 1,\"unit_cost\"=> 5000)]"

In [22]:
data.customers

1×7 DataFrame
 Row │ customer_id  name                  address        address_complement  p ⋯
     │ Int64        String31              String15       String15            S ⋯
─────┼──────────────────────────────────────────────────────────────────────────
   1 │           1  MANNING PUBLICATIONS  20 Baldwin Rd  P O Box 761         N ⋯
                                                               3 columns omitted

In [21]:
data.products

4×4 DataFrame
 Row │ product_id  name                      quantity  unit_cost
     │ Int64       String31                  Int64     Float64
─────┼───────────────────────────────────────────────────────────
   1 │          1  Mentoring hours February         6       45.0
   2 │          2  Mentoring hours March            5       45.0
   3 │          3  Mentoring hours April            1       45.0
   4 │          4  Mentoring hours May              1       45.0