In [99]:
include("src/api.jl")   
include("src/data.jl")   

inv = api.Invoice()

invoice_info = Dict{Any, Any}()

invoice_info["from"] = "Joris LIMONIER"

WARNING: replacing module api.
WARNING: replacing module data.

"Joris LIMONIER"

In [100]:
data.customers

1×7 DataFrame
 Row │ customer_id  name                  address        address_complement  p ⋯
     │ Int64        String31              String15       String15            S ⋯
─────┼──────────────────────────────────────────────────────────────────────────
   1 │           1  MANNING PUBLICATIONS  20 Baldwin Rd  P O Box 761         N ⋯
                                                               3 columns omitted

In [101]:
data.products

4×4 DataFrame
 Row │ product_id  name                      quantity  unit_cost
     │ Int64       String31                  Int64     Float64
─────┼───────────────────────────────────────────────────────────
   1 │          1  Mentoring hours February         6       45.0
   2 │          2  Mentoring hours March            5       45.0
   3 │          3  Mentoring hours April            1       45.0
   4 │          4  Mentoring hours May              1       45.0

In [137]:
using JSON
product_id = 3

1-element Vector{Dict{String, Any}}:
 Dict("name" => "Mentoring hours April", "unit_cost" => 45.0, "quantity" => 1)

In [152]:
for order in eachrow(data.orders)
    
    # invoice_id
    invoice_id = order["invoice_id"]
    invoice_info["number"] = invoice_id

    # date
    date = order["date"]
    invoice_info["date"] = date
    
    # to
    customer_id = order["customer_id"]
    invoice_info["to"] = string(customer_id)
    
    # currency
    currency = order["currency"]
    invoice_info["currency"] = currency
    
    # products_id stores a list
    products_id = api.eval_string(String(order["products_id"]))
    
    items = []
    println(products_id)
    for product_id in products_id
        product = filter(row -> row["product_id"] == product_id, data.products)[1, :]
        name = product["name"]
        quantity = product["quantity"]
        unit_cost = product["unit_cost"]
        push!(items, Dict("name" => name, "quantity" => quantity, "unit_cost" => unit_cost))
    end
    invoice_info["items"] = items
    invoice_info["notes"] = "Thank you for your order."

    api.connect_to_api_and_save_invoice_pdf(invoice_info, invoice_id)

end

[1, 2, 3]
[4]